### Importing Libraries and Data Frames

In [1]:
import pandas as pd
import numpy as np

from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [2]:
# Sklearn imports
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler


# DiCE imports
import dice_ml
from dice_ml.utils import helpers  # helper functions

import pickle
from sklearn.metrics import accuracy_score,  recall_score, precision_score, f1_score, roc_auc_score, roc_curve, auc

In [3]:
# Load the dataframe from a csv file
df = pd.read_excel(r'C:\Users\dideu\OneDrive\Documents\DDB\thesis\Thesis_Project\Credit Card Clients\default of credit card clients.xls', header=1)

### Exploring the Data Frames

In [4]:
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          30000 non-null  int64
 1   LIMIT_BAL                   30000 non-null  int64
 2   SEX                         30000 non-null  int64
 3   EDUCATION                   30000 non-null  int64
 4   MARRIAGE                    30000 non-null  int64
 5   AGE                         30000 non-null  int64
 6   PAY_0                       30000 non-null  int64
 7   PAY_2                       30000 non-null  int64
 8   PAY_3                       30000 non-null  int64
 9   PAY_4                       30000 non-null  int64
 10  PAY_5                       30000 non-null  int64
 11  PAY_6                       30000 non-null  int64
 12  BILL_AMT1                   30000 non-null  int64
 13  BILL_AMT2                   30000 non-null  int64
 14  BILL_AMT3                   30000 non-null  int64
 15  BILL_AMT4                   30000 non-null  int64
 16  BILL_AMT5                   30000 non-null  int64
 17  BILL_AMT6                   30000 non-null  int64
 18  PAY_AMT1                    30000 non-null  int64
 19  PAY_AMT2                    30000 non-null  int64
 20  PAY_AMT3                    30000 non-null  int64
 21  PAY_AMT4                    30000 non-null  int64
 22  PAY_AMT5                    30000 non-null  int64
 23  PAY_AMT6                    30000 non-null  int64
 24  default payment next month  30000 non-null  int64
dtypes: int64(25)
memory usage: 5.7 MB

Print count and percentage of classes variable

In [6]:
# Calculate the counts of unique values in the 'class' column 
class_counts = df['default payment next month'].value_counts()

# Calculate the percentage of each unique value in the 'class' column by dividing 'class_counts' by its sum and then multiplying by 100.
class_percentages = class_counts / class_counts.sum() * 100

print('Class counts:\n' ,class_counts, '\n')
print('Percentage of each class: \n' ,class_percentages)
print('\nTotal number of rows: ', df.shape[0])

# Saving this for future use
a = df.shape[0]

Class counts:
 0    23364
1     6636
Name: default payment next month, dtype: int64

Percentage of each class:
 0    77.88
1    22.12
Name: default payment next month, dtype: float64

Total number of rows:  30000

#### Cleaning features dataframe

In [7]:
#Some values are like '?'. Replacing them as NaN 
df[df == '?'] = np.nan

In [8]:
# Dropping the rows with NaN values in  'workclass', 'occupation', 'native-country' for the test dataset
df.dropna( inplace=True)

In [9]:
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [10]:
df = df.rename(columns={'default payment next month': 'default_payment'})

### Creating X and y sets

In [11]:
# From X set, education column is also dropped as it is similar to Education-num
X = df.drop(['default_payment'], axis=1)

y = df['default_payment']

In [12]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 24 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         30000 non-null  int64
 1   LIMIT_BAL  30000 non-null  int64
 2   SEX        30000 non-null  int64
 3   EDUCATION  30000 non-null  int64
 4   MARRIAGE   30000 non-null  int64
 5   AGE        30000 non-null  int64
 6   PAY_0      30000 non-null  int64
 7   PAY_2      30000 non-null  int64
 8   PAY_3      30000 non-null  int64
 9   PAY_4      30000 non-null  int64
 10  PAY_5      30000 non-null  int64
 11  PAY_6      30000 non-null  int64
 12  BILL_AMT1  30000 non-null  int64
 13  BILL_AMT2  30000 non-null  int64
 14  BILL_AMT3  30000 non-null  int64
 15  BILL_AMT4  30000 non-null  int64
 16  BILL_AMT5  30000 non-null  int64
 17  BILL_AMT6  30000 non-null  int64
 18  PAY_AMT1   30000 non-null  int64
 19  PAY_AMT2   30000 non-null  int64
 20  PAY_AMT3   30000 non-null  int64
 21  PAY_AMT4   30000 non-null  int64
 22  PAY_AMT5   30000 non-null  int64
 23  PAY_AMT6   30000 non-null  int64
dtypes: int64(24)
memory usage: 5.5 MB

In [13]:
y.value_counts()

0    23364
1     6636
Name: default_payment, dtype: int64

### Split data into separate fitting and test set

In [14]:
# Split the dataset into fitting data (80%) and test set (20%)
X_fit, X_test, y_fit, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

#### The percentage of each class in the target variable for each set

In [15]:
# Defined a function to calculate  and print the percentage of each class in the target variable
def calculate_class_percentage(y):
    class_percentage = {}
    total_samples = len(y)
    unique_classes = set(y)
    
    for cls in unique_classes:
        class_count = sum(y == cls)
        percentage = (class_count / total_samples) * 100
        class_percentage[cls] = percentage
    
    return class_percentage

In [16]:
# Calculate class percentages for each dataset
fit_class_percentage = calculate_class_percentage(y_fit)
test_class_percentage = calculate_class_percentage(y_test)

# Print class percentages for each dataset
print("Fit set class percentages:")
print(fit_class_percentage )
print("\nTest set class percentages:")
print(test_class_percentage)
print('\n Number of rows of X fit', X_fit.shape[0], '\n Number of rows of X test', X_test.shape[0],'\n Number of rows of Y fit', y_fit.shape[0],'\n Number of rows of y test', y_test.shape[0],)

Fit set class percentages:
{0: 77.92380952380952, 1: 22.076190476190476}

Test set class percentages:
{0: 77.77777777777779, 1: 22.22222222222222}

 Number of rows of X fit 21000
 Number of rows of X test 9000
 Number of rows of Y fit 21000
 Number of rows of y test 9000

In [17]:
X_fit.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21000 entries, 4936 to 29733
Data columns (total 24 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         21000 non-null  int64
 1   LIMIT_BAL  21000 non-null  int64
 2   SEX        21000 non-null  int64
 3   EDUCATION  21000 non-null  int64
 4   MARRIAGE   21000 non-null  int64
 5   AGE        21000 non-null  int64
 6   PAY_0      21000 non-null  int64
 7   PAY_2      21000 non-null  int64
 8   PAY_3      21000 non-null  int64
 9   PAY_4      21000 non-null  int64
 10  PAY_5      21000 non-null  int64
 11  PAY_6      21000 non-null  int64
 12  BILL_AMT1  21000 non-null  int64
 13  BILL_AMT2  21000 non-null  int64
 14  BILL_AMT3  21000 non-null  int64
 15  BILL_AMT4  21000 non-null  int64
 16  BILL_AMT5  21000 non-null  int64
 17  BILL_AMT6  21000 non-null  int64
 18  PAY_AMT1   21000 non-null  int64
 19  PAY_AMT2   21000 non-null  int64
 20  PAY_AMT3   21000 non-null  int64
 21  PAY_AMT4   21000 non-null  int64
 22  PAY_AMT5   21000 non-null  int64
 23  PAY_AMT6   21000 non-null  int64
dtypes: int64(24)
memory usage: 4.0 MB

In [18]:
# Defining the columns' categories
numerical = ['LIMIT_BAL' ,'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']
categorical = ['SEX','EDUCATION','MARRIAGE','PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6']
continuous_features = numerical

In [19]:
#Defining Random Forest model
def run_RF (X_fit, y_fit, X_test, y_test, model_name):
        # Preprocessing for cataegorical data - OneHotEncoding
    categorical_transformer = Pipeline(steps=[
        ('onehot', OneHotEncoder(handle_unknown='ignore'))])

    # Preprocessing for numerical data - StandardScaler
    numerical_transformer = Pipeline(steps=[
        ('scaler', StandardScaler())])
    
# Bundle preprocessing for numerical and categorical data
    transformations = ColumnTransformer(
        transformers=[
            ('num', numerical_transformer, numerical),  
            ('cat', categorical_transformer, categorical)],
        remainder='passthrough')
    
    clf_RF = Pipeline(steps=[('preprocessor', transformations), ('classifier', RandomForestClassifier())])
    model_RF = clf_RF.fit(X_fit, y_fit)
    y_pred_rf = model_RF.predict(X_test)
    y_prob_rf = model_RF.predict_proba(X_test)[:, 1]

    accuracy_rf = accuracy_score(y_test, y_pred_rf)
    recall_rf = recall_score(y_test, y_pred_rf)
    precision_rf = precision_score(y_test, y_pred_rf)
    f1_rf = f1_score(y_test, y_pred_rf)
    roc_rf = roc_auc_score(y_test, y_pred_rf)
    fpr_rf, tpr_rf, _ = roc_curve(y_test, y_prob_rf)

    models_rf = [('RF {}'.format(model_name), accuracy_rf, recall_rf, precision_rf, f1_rf, roc_rf)]
    model_perf_metrics_rf = pd.DataFrame(models_rf, columns = ['Model', 'Accuracy (%)', 'Recall (%)', 'Precision (%)', 'F1 (%)', 'AUC(%)'])
        
    return model_RF, fpr_rf, tpr_rf, model_perf_metrics_rf

In [20]:
#Defining Logistic Regression without scaling
def run_LR(X_fit, y_fit, X_test, y_test, model_name):
    # Preprocessing for categorical data - OneHotEncoding
    categorical_transformer = Pipeline(steps=[
        ('onehot', OneHotEncoder(handle_unknown='ignore'))])

    # Preprocessing for numerical data - StandardScaler
    numerical_transformer = Pipeline(steps=[
        ('scaler', StandardScaler())])

    # Bundle preprocessing for numerical and categorical data
    transformations = ColumnTransformer(
        transformers=[
            ('num', numerical_transformer, numerical),  
            ('cat', categorical_transformer, categorical)], 
        remainder='passthrough')

# Logistic Regression
    clf_LR = Pipeline(steps=[('preprocessor', transformations), ('classifier', LogisticRegression(max_iter=1000))])
    model_LR = clf_LR.fit(X_fit, y_fit)
    y_pred_lr = model_LR.predict(X_test)
    y_prob_lr = model_LR.predict_proba(X_test)[:, 1]

    accuracy_lr = accuracy_score(y_test, y_pred_lr)
    recall_lr = recall_score(y_test, y_pred_lr)
    precision_lr = precision_score(y_test, y_pred_lr)
    f1_lr = f1_score(y_test, y_pred_lr)
    roc_lr = roc_auc_score(y_test, y_pred_lr)
    fpr_lr, tpr_lr, _ = roc_curve(y_test, y_prob_lr)
    row_num = len(X_fit)

    models_lr = [('LR {}'.format(model_name), accuracy_lr, recall_lr, precision_lr, f1_lr, roc_lr, row_num)]
    model_perf_metric_lr = pd.DataFrame(models_lr, columns = ['Model', 'Accuracy (%)', 'Recall (%)', 'Precision (%)', 'F1 (%)', 'AUC(%)', 'X_fit Size'])

    return model_LR, model_perf_metric_lr

In [21]:
#Running Random Forest
model_RF, fpr_rf, tpr_rf, model_perf_metric_rf = run_RF(X_fit, y_fit, X_test, y_test, 'default')

In [22]:
#Running Logistic Regression
model_LR, model_perf_metric_lr = run_LR(X_fit, y_fit, X_test, y_test, 'default')

In [23]:
# Merging the two dataframes and printing the result
model_perf_metrics_merged_creditcard = model_perf_metric_rf.merge(model_perf_metric_lr, how='outer')
model_perf_metrics_merged_creditcard

,Model,Accuracy (%),Recall (%),Precision (%),F1 (%),AUC(%),X_fit Size
0,RF default,0.813222,0.354,0.645397,0.457217,0.649214,NaN
1,LR default,0.813222,0.323,0.663926,0.434578,0.638143,21000.0

In [24]:
def generate_counterfactuals(X_fit, y_fit, model,continuous_features, sample_size, total_CFs, features_to_vary):
    # Create a Data object
    d = dice_ml.Data(dataframe=X_fit.assign(default_payment=y_fit), continuous_features=continuous_features, outcome_name='default_payment',features_to_vary=features_to_vary)

    # Create a Model object
    m = dice_ml.Model(model=model, backend="sklearn")

    # Generate counterfactuals
    exp = dice_ml.Dice(d, m, method="random")

    e1 = exp.generate_counterfactuals(X_fit[0:sample_size], total_CFs=total_CFs, desired_class="opposite")
    #Commented out the below line as it is not needed to see the changes
    e1.visualize_as_dataframe(show_only_changes=True)

    cf_df = pd.DataFrame()
    
    for i in range(0, sample_size):
        xd = e1.cf_examples_list[i].final_cfs_df
        cf_df = pd.concat([cf_df, xd])

    else:
        cf_df.reset_index(drop=True, inplace=True)
        new_start_index = 40000*i + len(cf_df)
        cf_df.index += new_start_index 
        cf_df.to_csv('cf_df_creditcard_{}_{}.csv'.format(sample_size, total_CFs))
        X_fit_cf = cf_df.drop(['default_payment'], axis=1)
        y_fit_cf = cf_df['default_payment']

    return e1, X_fit_cf, y_fit_cf

In [25]:
categoricall = ['SEX','EDUCATION','MARRIAGE','PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6']
chosen_features = categoricall + numerical

In [26]:
# Experiment 1- low sample size and medium-high total CFs
for j in [10]:
    for i in [100,200]:
        e1, X_fit_cf, y_fit_cf = generate_counterfactuals(X_fit, y_fit, model_RF,continuous_features, j, i,chosen_features)
        new_X_fit = pd.concat([X_fit, X_fit_cf])
        new_y_fit = pd.concat([y_fit, y_fit_cf])
        model_LR_cf, model_perf_metric_lr_cf = run_LR(new_X_fit, new_y_fit, X_test, y_test, '_{}_{}'.format(j, i))
        model_perf_metrics_merged_creditcard = model_perf_metrics_merged_creditcard.append(model_perf_metric_lr_cf, ignore_index=True)

100%|██████████| 10/10 [26:09<00:00, 156.99s/it]

Query instance (original outcome : 0)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default_payment
0,4937,20000,1,1,2,24,-1,-1,-1,-1,...,780,0,0,390,390,780,0,0,0,0

Diverse Counterfactual set (new outcome: 1)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default_payment
0,-,-,-,2,-,-,-,-,1,-,...,-,306594,-,-,-,198668,-,107071,482745,-
1,11765,-,-,-,-,-,-,-,5,-,...,825878,-,740146,-,-,369759,-,-,472504,-
2,-,-,-,2,-,-,-,-,1,-,...,-,306594,-,-,-,198668,-,107071,482745,1
3,-,-,-,2,-,-,-,-,1,-,...,-,306594,-,-,-,198668,-,107071,482745,1
4,-,-,-,-,-,66,6,-,-,-,...,819885,847888,-,-,-,-,-,15722,414735,-
5,-,-,2,-,-,-,-,-,-,-,...,810903,-,-4718,-,-,740966,-,-,150621,-
6,26638,-,-,-,3,69,6,-,-,-,...,578852,-,-,591353,-,87468,-,-,-,-
7,-,-,-,-,-,-,7,6,0,-,...,857416,366337,315825,-,-,592340,-,-,-,1
8,1761,-,-,6,-,-,-,2,-,-,...,860570,786301,-,-,-,-,-,185887,157538,-
9,10507,-,-,-,-,-,-,-,-,6,...,-,77798,-,-,-,686977,-,271318,386899,-
10,10853,-,-,5,-,48,3,5,-,-,...,-,827038,171051,779567,-,-,618478,-,-,-
11,26638,-,-,-,3,69,6,-,-,-,...,578852,-,-,591353,-,87468,-,142876,-,-
12,1761,-,-,6,-,-,-,2,-,4,...,860570,786301,-,-,-,-,-,185887,157538,-
13,-,-,2,5,-,61,5,0,1,4,...,387635,53893,-105010,-,-,245513,-,253593,-,1
14,14141,-,-,2,-,61,-2,-,5,-,...,514407,-,-,-,-,189559,-,32485,-,-
15,15529,-,2,-,-,26,-,3,8,6,...,574283,566688,-,-,-,-,-,399146,-,1
16,1761,-,-,6,3,-,-,2,-,4,...,860570,786301,-,-,-,-,-,185887,157538,1
17,-,-,-,-,3,38,1,7,3,-,...,840353,-,-,631656,-,-,-,205792,222971,1
18,-,-,-,3,-,-,6,-,-,4,...,130640,-,383869,579512,-,835504,-,-,-,-
19,-,-,-,3,-,-,-,5,-,-,...,440860,-,708810,418539,-,534705,-,228841,-,-
20,-,-,-,-,-,-,7,6,0,0,...,857416,366337,315825,-,-,592340,-,-,-,-
21,17483,-,-,2,-,32,-,2,-,-,...,609982,88485,-,-,-,-,-,-,217162,-
22,-,-,-,-,-,79,-,-,-,8,...,-,-,879863,-,847575,-,-,303208,331583,1
23,-,-,-,0,3,25,6,-,-,-,...,-73505,-6119,-125935,-,-,671951,-,372354,245934,1
24,1761,-,-,6,3,-,-,2,-,4,...,860570,786301,650082,-,-,-,-,185887,157538,-
25,-,-,2,0,3,-,-2,-,-,-,...,891536,767831,-,-,-,534986,-,313815,407564,1
26,-,-,-,-,3,38,1,7,3,1,...,840353,-,-,631656,-,-,-,205792,222971,1
27,14141,-,-,2,3,61,-2,-,5,-,...,514407,-,-,-,-,189559,-,32485,-,1
28,-,-,-,3,-,-,-,5,-,-,...,440860,-,708810,418539,-,534705,-,228841,-,1
29,-,-,-,0,3,25,6,-,-,1,...,-73505,-6119,-125935,-,-,671951,-,372354,245934,1
30,-,-,2,5,-,61,5,0,1,4,...,387635,53893,-105010,-,-,245513,-,253593,-,1
31,-,-,2,0,3,-,-2,-,-,-,...,891536,767831,-,-,-,534986,-,313815,407564,1
32,-,-,-,4,3,38,1,7,3,1,...,840353,-,-,631656,-,-,-,205792,222971,1
33,25680,-,2,4,0,36,3,-,-,6,...,555502,155389,-,-,-,-,-,-,14062,-
34,-,-,-,2,-,26,-,-,1,-2,...,-78137,87123,235397,-,-,826990,-,175207,-,-
35,25680,-,2,4,0,36,3,4,-,6,...,555502,155389,-,-,-,-,-,-,14062,1
36,14141,-,-,2,3,61,-2,-,5,-,...,514407,-,-,357555,-,189559,-,32485,-,-
37,-,-,-,4,0,22,-,-,8,8,...,592986,635874,152324,730507,-,856943,-,407218,25703,1
38,-,-,2,-,0,62,7,-,-,-,...,-,-,-,-,-,786703,332394,80578,266551,1
39,15529,-,2,6,-,26,3,3,8,6,...,574283,566688,-,445714,-,-,-,399146,-,-
40,11459,-,-,4,0,72,-,6,3,2,...,-,883607,524120,309865,-,772026,600524,-,-,-
41,12753,-,-,-,1,42,5,7,2,2,...,-,-,375787,812870,-,595276,-,283833,-,-
42,-,-,-,-,1,65,-,1,7,8,...,344645,353601,347883,764010,-,-,-,376714,384299,1
43,24566,-,-,-,-,60,5,6,0,-2,...,672473,562556,-,-,476734,-,-,277139,433806,1
44,-,-,-,4,0,22,-,-2,8,8,...,592986,635874,152324,730507,-,856943,-,407218,25703,1

Query instance (original outcome : 0)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default_payment
0,4789,120000,1,2,1,52,2,0,0,0,...,46605,45590,46204,4449,2731,3000,5000,3000,3000,0

Diverse Counterfactual set (new outcome: 1)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default_payment
0,-,-,-,-,3,-,-,-,-,-,...,-,-,-,-,-,87087,-,-,-,-
1,-,-,-,-,-,28,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
2,21370,-,-,-,2,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,1
3,-,-,-,6,-,-,-,-,-,-,...,-,-,-,38793,-,-,-,-,-,1
4,26898,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,18267,-,-,-,-,-,-,1,-,-,...,-,-,-,-,-,-,-,-,-,1
96,21759,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
97,-,-,-,4,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
98,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,1
99,24807,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,275667,-,-,1

Query instance (original outcome : 1)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default_payment
0,8448,70000,2,2,2,26,0,0,0,0,...,28342,24894,25272,3003,5106,4026,755,1029,5303,1

Diverse Counterfactual set (new outcome: 0)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default_payment
0,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,0
1,-,-,-,-,-,-,-,-,-,2,...,-,-,-,-,-,-,-,-,-,0
2,-,-,-,-,-,-,-,-,-,-,...,-,-,-,143751,-,-,-,-,-,0
3,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,49448,-,-,0
4,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,0
96,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,0
97,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,16659,-,-,-,0
98,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,52674,-,60677,0
99,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,0

Query instance (original outcome : 1)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default_payment
0,4536,230000,1,2,2,37,1,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,1

Diverse Counterfactual set (new outcome: 0)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default_payment
0,-,-,-,-,-,-,-,-,-,-,...,77023,-,-,-,-,-,-,-,-,0
1,-,-,-,-,-,-,-,-,-,-,...,-,-,-,618727,-,-,-,-,1987,0
2,-,-,2,-,-,-,-,-,-,-,...,-,-,-,-,1139799,-,-,-,-,0
3,27299,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,0
4,-,-,-,-,-,-,-,-,-,6,...,-,-,-,-,-,-,-,-,246534,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,0
96,-,-,-,-,-,-,-,7,-,-,...,-,-,-,-,-,-,-,-,-,0
97,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,0
98,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,303954,-,-,-,0
99,-,-,-,-,-,-,-,-,-,-,...,-,-,-,420979,-,-,-,-,-,0

Query instance (original outcome : 0)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default_payment
0,27564,130000,1,2,2,56,0,0,0,0,...,116357,96936,98173,4000,5000,8000,4000,4000,5000,0

Diverse Counterfactual set (new outcome: 1)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default_payment
0,-,-,-,-,-,26,-,-,-,-,...,-,-,-,-,-,-,300695,-,314224,-
1,-,-,-,-,3,-,-,-,-,-,...,-,-,-,-,-,651578,539889,-,-,-
2,-,-,-,-,-,-,-,-,-,-,...,-,-,-,648181,-,-,-,-,-,1
3,-,-,-,-,-,26,-,-,-,-,...,-,-,-,-,727933,-,300695,-,314224,1
4,-,-,-,-,-,-,-,-,3,-,...,-,-,-,648181,-,-,-,-,-,1
5,-,-,-,-,3,-,-,5,-,-,...,-,-,-,159008,-,651578,539889,-,-,1
6,-,-,-,-,-,70,5,-,-,5,...,-,-,-,-,365388,-,-,343268,-,-
7,-,-,2,-,-,-,5,-,-,-,...,-,-,-,474886,205159,-,-,384983,-,1
8,-,-,-,-,0,-,-2,2,-2,4,...,-,-,-,698390,-,-,-,196268,-,1
9,-,-,-,-,-,-,-,6,-,-,...,-,-,-,-,426189,-,-,377496,250649,-
10,-,-,-,-,-,74,7,-,-,-,...,-,-,-,514161,-,-,-,-,-,-
11,-,-,-,-,-,-,7,-,6,4,...,-,-,-,-,-,-,277977,-,508672,1
12,-,-,-,-,-,26,-,-,-1,5,...,-,-,-,-,727933,-,300695,-,314224,-
13,-,-,2,-,0,-,-2,2,-2,4,...,-,-,-,698390,-,-,-,196268,-,-
14,-,-,-,-,3,-,-,-,-,2,...,-,-,-,-,1042768,-,-,-,-,-
15,-,-,-,-,-,60,-1,-2,-,-2,...,-,-,-,-,-,-,-,-,-,1
16,-,-,2,6,1,-,-,-,-,6,...,-,-,-,-,-,603985,527550,273047,-,-
17,-,-,-,1,0,-,7,-,-,-,...,-,-,-,-,-,378014,-,-,-,1
18,-,-,2,-,0,75,-2,2,-2,4,...,-,-,-,698390,-,629995,-,196268,-,-
19,-,-,-,-,3,-,-,5,-,2,...,-,-,-,-,1042768,-,-,145603,-,-
20,-,-,-,1,0,-,7,-,-,-,...,-,-,-,-,-,378014,-,-,-,1
21,-,-,-,-,-,63,-,-,-,-,...,-,-,-,1784,-,442636,-,-,319394,1
22,-,-,-,-,3,-,-,5,-,2,...,-,-,-,-,1042768,449708,-,145603,-,-
23,-,-,-,1,0,-,7,-,-,-,...,-,-,-,-,-,378014,-,-,-,1
24,-,-,-,4,-,-,8,-,1,-,...,-,-,-,657373,-,332367,364072,213063,154630,1
25,-,-,-,6,-,-,-1,-,4,-,...,-,-,-,333208,55065,-,100899,-,177452,1
26,-,-,-,1,0,-,7,-,-,7,...,-,-,-,-,-,378014,-,-,-,1
27,-,-,-,-,-,58,1,-,-,3,...,-,-,-,363433,-,486255,-,-,318539,-
28,-,-,-,4,0,-,8,-,1,-,...,-,-,-,657373,-,332367,364072,213063,154630,1
29,-,-,2,-,0,-,4,-,-,-2,...,-,-,-,649253,129570,-,161561,-,280151,-
30,-,-,-,4,0,-,8,-,1,-,...,-,-,-,657373,-,332367,364072,213063,154630,1
31,-,-,-,-,1,69,-2,-,4,5,...,-,-,-,597348,-,-,-,-,303676,-
32,-,-,2,-,3,62,6,-,8,-,...,-,-,-,-,130257,889219,487386,-,221982,-
33,-,-,-,5,0,-,-2,3,4,2,...,-,-,-,-,-,560953,158518,-,422894,-
34,-,-,-,-,1,69,-2,-,4,5,...,-,-,-,597348,-,-,-,-,303676,1
35,-,-,2,-,3,62,6,-,8,-,...,-,-,-,-,130257,889219,487386,-,221982,-
36,-,-,2,6,-,79,2,-,-,-2,...,-,-,-,-,-,747318,619051,-,525662,1
37,-,-,-,-,-,30,3,-,-,4,...,-,-,-,-,-,-,551121,155336,373055,-
38,-,-,2,-,0,-,4,-,-,-2,...,-,-,-,649253,129570,-,161561,-,280151,1
39,-,-,2,-,-,24,8,1,3,-2,...,-,-,-,-,-,-,168508,97373,418499,-
40,-,-,-,-,1,69,-2,-,4,5,...,-,-,-,597348,527989,-,-,-,303676,-
41,-,-,-,-,-,58,1,-2,-,3,...,-,-,-,363433,-,486255,-,-,318539,1
42,-,-,-,-,1,69,-2,-,4,5,...,-,-,-,597348,527989,-,-,425567,303676,1

Query instance (original outcome : 0)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default_payment
0,16892,120000,1,1,2,33,1,-2,-2,-1,...,600,0,0,0,0,600,0,0,0,0

Diverse Counterfactual set (new outcome: 1)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default_payment
0,-,-,-,-,-,-,-,-,-1,-,...,757908,596174,424254,-,-,-,449604,-,-,1
1,-,-,2,-,-,51,8,7,1,-,...,364695,755013,28450,-,-,150316,-,-,-,1
2,-,-,-,2,3,-,4,5,3,-,...,801711,199206,40320,-,-,-,-,-,-,1
3,-,-,-,4,-,22,-1,-,8,-,...,675246,-,-,-,-,-,-,-,332936,-
4,-,-,-,-,0,45,8,6,-,-,...,-108758,332511,-,-,439743,-,-,-,12600,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,-,-,2,6,-,60,-,6,-,-,...,352340,195622,852768,-,1167328,-,-,-,-,1
96,-,-,-,-,3,70,-,-,-,-,...,-,-,-,-,-,329377,-,-,-,-
97,-,-,-,5,-,42,-1,1,-,-,...,702320,266148,285001,-,756662,-,-,-,120200,1
98,-,-,-,-,-,74,3,-,-1,-,...,-,679301,779534,-,-,435223,-,-,-,1
99,-,-,-,-,-,30,0,-,4,1,...,-,80865,-,-,-,-,-,188004,-,1

Query instance (original outcome : 0)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default_payment
0,28569,180000,2,3,1,40,0,0,0,-2,...,792,1645,1645,4262,2083,792,1645,0,811,0

Diverse Counterfactual set (new outcome: 1)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default_payment
0,-,-,-,6,-,53,3,3,-,-,...,420846,-,233886,-,-,332909,-,-,-,-
1,-,-,-,-,-,-,-,3,7,6,...,309627,-,-,228033,-,-,388936,-,-,1
2,-,-,-,5,-,62,8,-,-,5,...,-,-,691363,-,-,320289,-,-,192269,1
3,-,-,-,-,-,-,3,3,7,6,...,309627,-,-,228033,-,-,388936,-,-,1
4,-,-,1,6,-,-,-1,6,-,-,...,850143,-,426269,714679,-,789986,143687,-,-,-
5,-,-,-,5,-,62,8,-,-,5,...,-,-,691363,-,-,320289,-,-,192269,1
6,-,-,1,2,2,-,-,-,-,4,...,-,-,264713,167884,-,83924,-,-,-,1
7,-,-,-,-,2,-,8,5,4,-,...,399744,386069,924436,-,-,-,-,-,452701,-
8,-,-,-,-,-,-,-,-,-,6,...,882550,429220,316063,214560,-,119489,-,379772,379476,1
9,-,-,-,-,-,-,-,-,-,6,...,882550,429220,316063,214560,-,119489,-,379772,379476,1
10,-,-,-,5,-,62,8,-,-2,5,...,738792,-,691363,-,-,320289,-,301231,192269,-
11,-,-,1,2,2,-,-,-,-,4,...,-,-,264713,167884,-,83924,-,-,-,1
12,-,-,-,-,2,-,5,6,-,-,...,445397,836413,337034,-,-,147187,294441,-,149996,1
13,-,-,1,2,2,-,-,-,-,4,...,-,-,264713,167884,-,83924,-,-,322751,1
14,-,-,1,2,2,-,-,3,-,4,...,-,-,264713,167884,-,83924,-,-,322751,-
15,-,-,1,2,-,-,-2,1,-,-,...,-,746166,518199,-,-,-,-,313774,-,-

Query instance (original outcome : 0)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default_payment
0,24503,50000,1,1,2,34,1,2,2,2,...,48382,50693,50364,2500,2200,0,3800,1000,1500,0

Diverse Counterfactual set (new outcome: 1)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default_payment
0,-,-,-,-,-,-,-,-,-,8,...,-,-,-,-,-,-,-,-,-,1
1,-,-,2,-,-,-,-,1,-,-,...,-,-,-,-,-,-,-,401849,-,-
2,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,359679,-,-
3,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,147805,125567,1
4,-,-,-,-,3,-,-1,-,-,-,...,-,-,-,-,-,-,-,205573,-,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,-,-,-,-,-,54,-,-,-,-,...,-,-,-,-,-,-,-,226307,-,1
96,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,245160,-,1
97,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,86074,423566,616,1
98,-,-,-,-,-,-,4,-,1,-,...,-,-,-,-,-,-,-,-,-,1
99,-,-,-,-,-,33,-,-,-,8,...,-,-,-,-,-,-,-,-,-,1

Query instance (original outcome : 0)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default_payment
0,7426,180000,2,1,1,38,1,2,0,0,...,119542,122452,130293,0,10000,6000,5000,10000,6500,0

Diverse Counterfactual set (new outcome: 1)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default_payment
0,-,-,-,0,-,57,-,-,-,-,...,-,-,-,-,-,-,601681,-,143595,1
1,-,-,-,0,-,62,8,-,-,5,...,-,-,-,-,-,667717,283236,-,404792,1
2,-,-,1,0,-,21,-,-,5,7,...,-,-,-,-,-,-,-,-,-,1
3,-,-,-,-,-,42,-,5,-,3,...,-,-,-,-,-,-,-,-,168253,-
4,-,-,-,4,3,-,-,-,6,-,...,-,-,-,-,-,178644,-,-,-,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,-,-,-,5,2,-,-,-,7,4,...,-,-,-,-,-,256839,384468,-,58042,1
96,-,-,-,-,-,64,4,-,3,-,...,-,-,-,-,-,411618,305468,-,-,-
97,-,-,-,4,-,-,-,-,4,6,...,-,-,-,-,-,-,-,-,-,1
98,-,-,1,4,3,-,-,-,6,-,...,-,-,-,-,-,178644,-,-,-,1
99,-,-,-,-,-,46,0,-,-,-,...,-,-,-,-,-,-,-,-,-,-

Query instance (original outcome : 0)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default_payment
0,27694,50000,2,1,2,25,-1,2,-1,-1,...,2185,0,5918,0,2262,2185,0,5918,0,0

Diverse Counterfactual set (new outcome: 1)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default_payment
0,-,-,-,-,-,-,-,1,-,-,...,-,-,-,-,-,877591,-,-,-,1
1,-,-,-,-,1,-,-,-,-,-,...,294354,825923,-,-,-,-,-,-,-,1
2,-,-,-,3,-,-,-,-,-,-,...,762655,843253,-,-,-,-,-,-,-,1
3,-,-,-,-,-,-,-,1,-,-,...,-,-,-,-,-,877591,-,-,-,1
4,-,-,-,-,0,-,-,4,-,-,...,-,917504,-,-,-,80065,-,248817,-,-
5,-,-,-,3,-,-,-,-,0,-,...,511574,249718,-,-,664350,-,-,-,-,-
6,-,-,-,-,0,-,-,4,-,-,...,-,917504,-,-,-,80065,-,248817,112121,-
7,-,-,-,-,-,-,-,1,-,4,...,-,-,-,-,-,877591,-,-,-,1
8,-,-,-,-,-,-,1,-,-2,-2,...,-,739805,-,477757,-,355299,-,-,-,1
9,-,-,1,-,-,-,8,-,1,-,...,-,206964,-,136405,1201064,-,-,-,-,1
10,-,-,1,4,3,-,-,-,-,-,...,-,917156,-,-,-,623185,-,77014,-,-
11,-,-,-,5,1,-,-,-,8,7,...,-,81115,-,-,-,-,-,236875,-,1
12,-,-,1,-,0,-,8,-,1,-,...,-,206964,-,136405,1201064,-,-,-,-,1
13,-,-,-,4,-,-,-,-,6,0,...,-,600042,22607,-,-,-,-,24330,-,-
14,-,-,-,-,1,53,-,3,-,-,...,294354,825923,-,-,-,218147,-,-,-,1
15,-,-,-,0,0,-,-,-1,4,2,...,-98624,-53357,952252,-,598083,865202,104850,215210,-,-
16,-,-,-,4,-,-,-,-,6,0,...,-,600042,22607,-,-,-,-,24330,-,1
17,-,-,-,-,-,74,-,-,3,-,...,546978,638637,-129097,-,-,-,-,-,-,1
18,-,-,1,-,-,-,4,-,5,5,...,-,404253,-,113670,-,-,-,-,-,-
19,-,-,1,0,3,61,3,-,1,4,...,-,251984,-,-,495887,-,-,-,-,1
20,-,-,-,-,1,-,-,-,-2,5,...,117735,-,-,-,-,432372,-,-,-,1
21,-,-,1,5,1,-,6,-,-,-,...,740181,101401,178423,-,-,-,-,-,-,-
22,-,-,-,-,1,53,-,3,-,-,...,294354,825923,-,-,-,218147,-,-,-,1
23,-,-,-,5,0,34,-,5,6,0,...,-,617970,-,-,-,-,-,384562,-,-
24,-,-,-,5,1,-,-,-,8,7,...,-,81115,-,-,-,-,-,236875,344183,1
25,-,-,-,5,-,-,-,-,-,6,...,103218,-,524367,-,865608,-,-,-,508878,-
26,-,-,-,-,-,-,7,-,4,-,...,-,-,942077,-,-,802937,-,-,302421,1
27,-,-,-,5,-,43,5,0,6,-,...,-,830278,334765,-,-,186865,-,358338,-,1
28,-,-,1,5,1,-,6,-,-,1,...,740181,101401,178423,-,-,-,-,-,-,1
29,-,-,-,-,-,43,3,-,6,7,...,-,90819,303595,-,796607,-,-,289836,-,1
30,-,-,1,4,-,28,-,-,3,5,...,436163,469054,832064,287005,-,-,-,132622,-,1
31,-,-,1,0,3,61,3,-,1,4,...,-,251984,-,-,495887,705353,-,-,-,1
32,-,-,-,3,0,34,-,-,3,8,...,817215,-,-,-,-,121225,-,-,377842,-
33,-,-,-,-,1,-,-,-,-2,5,...,117735,-,-,-,-,432372,-,-,-,1
34,-,-,-,-,-,35,-,-,5,2,...,274239,669987,-103665,-,-,737281,-,-,-,-
35,-,-,1,-,0,-,8,-,1,-,...,-,206964,-,136405,1201064,-,-,-,-,1
36,-,-,-,-,-,-,7,-,4,-,...,-,315374,942077,-,-,802937,-,-,302421,-
37,-,-,-,-,-,-,8,3,3,4,...,702368,197097,-,-,-,707332,-,62741,-,-
38,-,-,-,-,3,-,-,7,8,1,...,-,374609,-73781,-,-,-,23046,-,53382,1
39,-,-,-,-,-,35,-,-,5,2,...,274239,669987,-103665,-,-,737281,-,-,-,1
40,-,-,1,2,-,29,2,-1,-,-,...,501019,-,927226,514970,-,287972,-,108847,-,-
41,-,-,-,-,-,-,8,3,3,4,...,702368,197097,-,-,-,707332,-,62741,-,-
42,-,-,-,-,-,74,-,-,3,-,...,546978,638637,-129097,-,-,374440,-,-,-,1
43,-,-,-,3,0,34,-,-,3,8,...,817215,-,299095,-,-,121225,-,-,377842,-
44,-,-,1,-,0,38,8,-,1,-,...,-,206964,-,136405,1201064,-,-,-,-,1
45,-,-,-,5,0,34,-,5,6,0,...,-,617970,-,-,-,-,-,384562,417359,1
46,-,-,-,-,1,27,-,-,-2,5,...,117735,-,-,-,-,432372,-,-,-,1
47,-,-,-,3,-,-,-2,5,-2,0,...,-,27303,444380,-,477731,516655,-,-,314322,-
48,-,-,-,5,0,34,-,5,6,0,...,-,617970,-,-,-,-,-,384562,417359,1
49,-,-,1,4,3,28,-,-,3,5,...,436163,469054,832064,287005,-,-,-,132622,-,1
50,-,-,-,-,-,68,7,-,1,2,...,-,484365,695703,308461,-,-,510714,-,242196,-
51,-,-,1,0,0,38,8,-,1,-,...,-,206964,-,136405,1201064,-,-,-,-,1
52,-,-,-,-,-,-,7,-,4,-,...,-,315374,942077,-,-,802937,-,83198,302421,1
53,-,-,-,-,3,73,-,4,6,-,...,664916,905374,-,-,-,95447,424500,-,-,1
54,-,-,-,-,-,74,7,-,3,-,...,546978,638637,-129097,-,-,374440,-,-,-,1
55,-,-,1,5,0,-,-,6,0,7,...,-124007,-44571,-,-,671402,232583,432748,302772,373377,-
56,-,-,-,3,3,-,-,7,8,1,...,-,374609,-73781,-,-,-,23046,-,53382,-

C:\Users\dideu\AppData\Local\Temp\ipykernel_20516\4174465810.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  model_perf_metrics_merged_creditcard = model_perf_metrics_merged_creditcard.append(model_perf_metric_lr_cf, ignore_index=True)
 10%|█         | 1/10 [02:25<21:52, 145.87s/it]

:

In [ ]:
model_perf_metrics_merged_creditcard.to_excel('model_perf_metrics_merged_creditcard.xlsx', index=False)

model_perf_metrics_merged_creditcard

In [ ]:
# Experiment 2- low sample size and medium-high total CFs
for j in [50]:
    for i in [100, 200, 500]:
        e1, X_fit_cf, y_fit_cf = generate_counterfactuals(X_fit, y_fit, model_RF,continuous_features, j, i,chosen_features)
        new_X_fit = pd.concat([X_fit, X_fit_cf])
        new_y_fit = pd.concat([y_fit, y_fit_cf])
        model_LR_cf, model_perf_metric_lr_cf = run_LR(new_X_fit, new_y_fit, X_test, y_test, '_{}_{}'.format(j, i))
        model_perf_metrics_merged_creditcard = model_perf_metrics_merged_creditcard.append(model_perf_metric_lr_cf, ignore_index=True)

In [ ]:
model_perf_metrics_merged_creditcard.to_excel('model_perf_metrics_merged_creditcard.xlsx', index=False)
model_perf_metrics_merged_creditcard

In [ ]:
# Experiment 3- medium sample size and low-medium total CFs
for j in [100, 500]:
    for i in [20, 30]:
        e1, X_fit_cf, y_fit_cf = generate_counterfactuals(X_fit, y_fit, model_RF,continuous_features, j, i,chosen_features)
        new_X_fit = pd.concat([X_fit, X_fit_cf])
        new_y_fit = pd.concat([y_fit, y_fit_cf])
        model_LR_cf, model_perf_metric_lr_cf = run_LR(new_X_fit, new_y_fit, X_test, y_test, '_{}_{}'.format(j, i))
        model_perf_metrics_merged_creditcard = model_perf_metrics_merged_creditcard.append(model_perf_metric_lr_cf, ignore_index=True)

In [ ]:
model_perf_metrics_merged_creditcard.to_excel('model_perf_metrics_merged_creditcard.xlsx', index=False)
model_perf_metrics_merged_creditcard