### Importing Libraries and Data Frames

In [1]:
import pandas as pd
import numpy as np

from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
import pickle

In [10]:
# Load the dataframe from a csv file
df = pd.read_excel(r'C:\Users\dideu\OneDrive\Documents\DDB\thesis\Thesis_Project\Credit Card Clients\default of credit card clients.xls', header=1)

### Exploring the Data Frames

In [11]:
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          30000 non-null  int64
 1   LIMIT_BAL                   30000 non-null  int64
 2   SEX                         30000 non-null  int64
 3   EDUCATION                   30000 non-null  int64
 4   MARRIAGE                    30000 non-null  int64
 5   AGE                         30000 non-null  int64
 6   PAY_0                       30000 non-null  int64
 7   PAY_2                       30000 non-null  int64
 8   PAY_3                       30000 non-null  int64
 9   PAY_4                       30000 non-null  int64
 10  PAY_5                       30000 non-null  int64
 11  PAY_6                       30000 non-null  int64
 12  BILL_AMT1                   30000 non-null  int64
 13  BILL_AMT2                   30000 non-null  int64
 14  BILL_AMT3                   30000 non-null  int64
 15  BILL_AMT4                   30000 non-null  int64
 16  BILL_AMT5                   30000 non-null  int64
 17  BILL_AMT6                   30000 non-null  int64
 18  PAY_AMT1                    30000 non-null  int64
 19  PAY_AMT2                    30000 non-null  int64
 20  PAY_AMT3                    30000 non-null  int64
 21  PAY_AMT4                    30000 non-null  int64
 22  PAY_AMT5                    30000 non-null  int64
 23  PAY_AMT6                    30000 non-null  int64
 24  default payment next month  30000 non-null  int64
dtypes: int64(25)
memory usage: 5.7 MB

Print count and percentage of classes variable

In [14]:
# Calculate the counts of unique values in the 'class' column 
class_counts = df['default payment next month'].value_counts()

# Calculate the percentage of each unique value in the 'class' column by dividing 'class_counts' by its sum and then multiplying by 100.
class_percentages = class_counts / class_counts.sum() * 100

print('Class counts:\n' ,class_counts, '\n')
print('Percentage of each class: \n' ,class_percentages)
print('\nTotal number of rows: ', df.shape[0])

# Saving this for future use
a = df.shape[0]

Class counts:
 0    23364
1     6636
Name: default payment next month, dtype: int64

Percentage of each class:
 0    77.88
1    22.12
Name: default payment next month, dtype: float64

Total number of rows:  30000

#### Cleaning features dataframe

In [16]:
#Some values are like '?'. Replacing them as NaN 
df[df == '?'] = np.nan

In [17]:
# Dropping the rows with NaN values in  'workclass', 'occupation', 'native-country' for the test dataset
df.dropna( inplace=True)

In [19]:
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

### Creating X and y sets

In [21]:
# From X set, education column is also dropped as it is similar to Education-num
X = df.drop(['default payment next month'], axis=1)

y = df['default payment next month']

In [22]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 24 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         30000 non-null  int64
 1   LIMIT_BAL  30000 non-null  int64
 2   SEX        30000 non-null  int64
 3   EDUCATION  30000 non-null  int64
 4   MARRIAGE   30000 non-null  int64
 5   AGE        30000 non-null  int64
 6   PAY_0      30000 non-null  int64
 7   PAY_2      30000 non-null  int64
 8   PAY_3      30000 non-null  int64
 9   PAY_4      30000 non-null  int64
 10  PAY_5      30000 non-null  int64
 11  PAY_6      30000 non-null  int64
 12  BILL_AMT1  30000 non-null  int64
 13  BILL_AMT2  30000 non-null  int64
 14  BILL_AMT3  30000 non-null  int64
 15  BILL_AMT4  30000 non-null  int64
 16  BILL_AMT5  30000 non-null  int64
 17  BILL_AMT6  30000 non-null  int64
 18  PAY_AMT1   30000 non-null  int64
 19  PAY_AMT2   30000 non-null  int64
 20  PAY_AMT3   30000 non-null  int64
 21  PAY_AMT4   30000 non-null  int64
 22  PAY_AMT5   30000 non-null  int64
 23  PAY_AMT6   30000 non-null  int64
dtypes: int64(24)
memory usage: 5.5 MB

In [98]:
y.value_counts()

0    34014
1    11208
Name: income, dtype: int64

### Split data into separate fitting and test set

In [99]:
# Split the dataset into fitting data (80%) and test set (20%)
X_fit, X_test, y_fit, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [100]:
X_fit.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36177 entries, 4727 to 35636
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             36177 non-null  int64
 1   workclass       36177 non-null  object
 2   fnlwgt          36177 non-null  int64
 3   education-num   36177 non-null  int64
 4   marital-status  36177 non-null  object
 5   occupation      36177 non-null  object
 6   relationship    36177 non-null  object
 7   race            36177 non-null  object
 8   sex             36177 non-null  object
 9   capital-gain    36177 non-null  int64
 10  capital-loss    36177 non-null  int64
 11  hours-per-week  36177 non-null  int64
 12  native-country  36177 non-null  object
dtypes: int64(6), object(7)
memory usage: 3.9+ MB

#### The percentage of each class in the target variable for each set

In [101]:
# Defined a function to calculate  and print the percentage of each class in the target variable
def calculate_class_percentage(y):
    class_percentage = {}
    total_samples = len(y)
    unique_classes = set(y)
    
    for cls in unique_classes:
        class_count = sum(y == cls)
        percentage = (class_count / total_samples) * 100
        class_percentage[cls] = percentage
    
    return class_percentage

In [102]:
# Calculate class percentages for each dataset
fit_class_percentage = calculate_class_percentage(y_fit)
test_class_percentage = calculate_class_percentage(y_test)

# Print class percentages for each dataset
print("Fit set class percentages:")
print(fit_class_percentage )
print("\nTest set class percentages:")
print(test_class_percentage)
print('\n Number of rows of X fit', X_fit.shape[0], '\n Number of rows of X test', X_test.shape[0],'\n Number of rows of Y fit', y_fit.shape[0],'\n Number of rows of y test', y_test.shape[0],)

Fit set class percentages:
{0: 75.26328882991956, 1: 24.73671117008044}

Test set class percentages:
{0: 75.02487562189056, 1: 24.975124378109452}

 Number of rows of X fit 36177
 Number of rows of X test 9045
 Number of rows of Y fit 36177
 Number of rows of y test 9045

In [103]:
X_fit.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36177 entries, 4727 to 35636
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             36177 non-null  int64
 1   workclass       36177 non-null  object
 2   fnlwgt          36177 non-null  int64
 3   education-num   36177 non-null  int64
 4   marital-status  36177 non-null  object
 5   occupation      36177 non-null  object
 6   relationship    36177 non-null  object
 7   race            36177 non-null  object
 8   sex             36177 non-null  object
 9   capital-gain    36177 non-null  int64
 10  capital-loss    36177 non-null  int64
 11  hours-per-week  36177 non-null  int64
 12  native-country  36177 non-null  object
dtypes: int64(6), object(7)
memory usage: 3.9+ MB

In [104]:
# Label encoding for ordinal categorical variables. First fitting and transforming on fit set and then transforming on test set
LE = LabelEncoder()

X_fit.iloc[:, 1] = LE.fit_transform(X_fit.iloc[:, 1]) # Workclass column
X_test.iloc[:, 1] = LE.transform(X_test.iloc[:, 1])

C:\Users\dideu\AppData\Local\Temp\ipykernel_10712\4117849537.py:4: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  X_fit.iloc[:, 1] = LE.fit_transform(X_fit.iloc[:, 1]) # Workclass column
C:\Users\dideu\AppData\Local\Temp\ipykernel_10712\4117849537.py:5: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  X_test.iloc[:, 1] = LE.transform(X_test.iloc[:, 1])

### Define One-hot-encoding function for the chosen variables, or dummification

In [105]:
def one_hot_encode_columns(X_fit, X_test, columns_to_one_hot_encode):
    # Create a OneHotEncoder instance
    one_hot_encoder = OneHotEncoder(sparse=False)
    
    # Apply one-hot encoding to the training dataset
    one_hot_encoded_columns_train = one_hot_encoder.fit_transform(X_fit[columns_to_one_hot_encode])
    # Apply the same transformation to the test dataset
    one_hot_encoded_columns_test = one_hot_encoder.transform(X_test[columns_to_one_hot_encode])

    # Convert the one-hot encoded columns to a DataFrame
    one_hot_encoded_df_train = pd.DataFrame(one_hot_encoded_columns_train, columns=one_hot_encoder.get_feature_names_out(columns_to_one_hot_encode))
    # Convert the one-hot encoded columns to a DataFrame
    one_hot_encoded_df_test = pd.DataFrame(one_hot_encoded_columns_test, columns=one_hot_encoder.get_feature_names_out(columns_to_one_hot_encode))

    # Drop the original columns from X_train
    X_fit.drop(columns_to_one_hot_encode, axis=1, inplace=True)
    # Drop the original columns from X_test
    X_test.drop(columns_to_one_hot_encode, axis=1, inplace=True)

    # Concatenate the original DataFrame with the one-hot encoded DataFrame
    X_fit = pd.concat([X_fit.reset_index(drop=True), one_hot_encoded_df_train.reset_index(drop=True)], axis=1)
    # Concatenate the original DataFrame with the one-hot encoded DataFrame
    X_test = pd.concat([X_test.reset_index(drop=True), one_hot_encoded_df_test.reset_index(drop=True)], axis=1)
    
    return X_fit, X_test

In [106]:
# Identify columns that are not ordinal and need one-hot encoding
columns_to_one_hot_encode = ['marital-status', 'occupation',  'relationship', 'race', 'sex', 'native-country'] # List of non-ordinal columns

# Apply one-hot encoding to the fit and test datasets
X_fit, X_test = one_hot_encode_columns(X_fit, X_test, columns_to_one_hot_encode)

c:\Users\dideu\anaconda3\envs\banana\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [107]:
X_fit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36177 entries, 0 to 36176
Data columns (total 82 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   age                                        36177 non-null  int64
 1   workclass                                  36177 non-null  int32
 2   fnlwgt                                     36177 non-null  int64
 3   education-num                              36177 non-null  int64
 4   capital-gain                               36177 non-null  int64
 5   capital-loss                               36177 non-null  int64
 6   hours-per-week                             36177 non-null  int64
 7   marital-status_Divorced                    36177 non-null  float64
 8   marital-status_Married-AF-spouse           36177 non-null  float64
 9   marital-status_Married-civ-spouse          36177 non-null  float64
 10  marital-status_Married-spouse-absent       36177 non-null  float64
 11  marital-status_Never-married               36177 non-null  float64
 12  marital-status_Separated                   36177 non-null  float64
 13  marital-status_Widowed                     36177 non-null  float64
 14  occupation_Adm-clerical                    36177 non-null  float64
 15  occupation_Armed-Forces                    36177 non-null  float64
 16  occupation_Craft-repair                    36177 non-null  float64
 17  occupation_Exec-managerial                 36177 non-null  float64
 18  occupation_Farming-fishing                 36177 non-null  float64
 19  occupation_Handlers-cleaners               36177 non-null  float64
 20  occupation_Machine-op-inspct               36177 non-null  float64
 21  occupation_Other-service                   36177 non-null  float64
 22  occupation_Priv-house-serv                 36177 non-null  float64
 23  occupation_Prof-specialty                  36177 non-null  float64
 24  occupation_Protective-serv                 36177 non-null  float64
 25  occupation_Sales                           36177 non-null  float64
 26  occupation_Tech-support                    36177 non-null  float64
 27  occupation_Transport-moving                36177 non-null  float64
 28  relationship_Husband                       36177 non-null  float64
 29  relationship_Not-in-family                 36177 non-null  float64
 30  relationship_Other-relative                36177 non-null  float64
 31  relationship_Own-child                     36177 non-null  float64
 32  relationship_Unmarried                     36177 non-null  float64
 33  relationship_Wife                          36177 non-null  float64
 34  race_Amer-Indian-Eskimo                    36177 non-null  float64
 35  race_Asian-Pac-Islander                    36177 non-null  float64
 36  race_Black                                 36177 non-null  float64
 37  race_Other                                 36177 non-null  float64
 38  race_White                                 36177 non-null  float64
 39  sex_Female                                 36177 non-null  float64
 40  sex_Male                                   36177 non-null  float64
 41  native-country_Cambodia                    36177 non-null  float64
 42  native-country_Canada                      36177 non-null  float64
 43  native-country_China                       36177 non-null  float64
 44  native-country_Columbia                    36177 non-null  float64
 45  native-country_Cuba                        36177 non-null  float64
 46  native-country_Dominican-Republic          36177 non-null  float64
 47  native-country_Ecuador                     36177 non-null  float64
 48  native-country_El-Salvador                 36177 non-null  float64
 49  native-country_England                     36177 non-null  float64
 50  native-country_France                      36177 non-null  float64
 51  native-country_Germany                     36177 non-null  float64
 52  native-country_Greece                      36177 non-null  float64
 53  native-country_Guatemala                   36177 non-null  float64
 54  native-country_Haiti                       36177 non-null  float64
 55  native-country_Holand-Netherlands          36177 non-null  float64
 56  native-country_Honduras                    36177 non-null  float64
 57  native-country_Hong                        36177 non-null  float64
 58  native-country_Hungary                     36177 non-null  float64
 59  native-country_India                       36177 non-null  float64
 60  native-country_Iran                        36177 non-null  float64
 61  native-country_Ireland                     36177 non-null  float64
 62  native-country_Italy                       36177 non-null  float64
 63  native-country_Jamaica                     36177 non-null  float64
 64  native-country_Japan                       36177 non-null  float64
 65  native-country_Laos                        36177 non-null  float64
 66  native-country_Mexico                      36177 non-null  float64
 67  native-country_Nicaragua                   36177 non-null  float64
 68  native-country_Outlying-US(Guam-USVI-etc)  36177 non-null  float64
 69  native-country_Peru                        36177 non-null  float64
 70  native-country_Philippines                 36177 non-null  float64
 71  native-country_Poland                      36177 non-null  float64
 72  native-country_Portugal                    36177 non-null  float64
 73  native-country_Puerto-Rico                 36177 non-null  float64
 74  native-country_Scotland                    36177 non-null  float64
 75  native-country_South                       36177 non-null  float64
 76  native-country_Taiwan                      36177 non-null  float64
 77  native-country_Thailand                    36177 non-null  float64
 78  native-country_Trinadad&Tobago             36177 non-null  float64
 79  native-country_United-States               36177 non-null  float64
 80  native-country_Vietnam                     36177 non-null  float64
 81  native-country_Yugoslavia                  36177 non-null  float64
dtypes: float64(75), int32(1), int64(6)
memory usage: 22.5 MB

In [108]:
# Calculate class percentages for each dataset
fit_class_percentage = calculate_class_percentage(y_fit)
test_class_percentage = calculate_class_percentage(y_test)

# Print class percentages for each dataset
print("Fit set class percentages:")
print(fit_class_percentage )
print("\nTest set class percentages:")
print(test_class_percentage)
print('\n Number of rows of X fit', X_fit.shape[0], '\n Number of rows of X test', X_test.shape[0],'\n Number of rows of Y fit', y_fit.shape[0],'\n Number of rows of y test', y_test.shape[0],)

Fit set class percentages:
{0: 75.26328882991956, 1: 24.73671117008044}

Test set class percentages:
{0: 75.02487562189056, 1: 24.975124378109452}

 Number of rows of X fit 36177
 Number of rows of X test 9045
 Number of rows of Y fit 36177
 Number of rows of y test 9045

In [109]:
# Save data to a pickle file
with open('data.pickle', 'wb') as f:
    pickle.dump((X_fit, y_fit, X_test, y_test), f)