# 1. Cleaning

### Importing Libraries and Data Frames

In [105]:
import pandas as pd
import numpy as np

from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
import matplotlib.pyplot as plt
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [106]:
# Load the dataframe from a csv file
df = pd.read_csv('CensusAdultIncome.csv')

### Exploring the Data Frames

In [107]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   workclass       47879 non-null  object
 2   fnlwgt          48842 non-null  int64
 3   education       48842 non-null  object
 4   education-num   48842 non-null  int64
 5   marital-status  48842 non-null  object
 6   occupation      47876 non-null  object
 7   relationship    48842 non-null  object
 8   race            48842 non-null  object
 9   sex             48842 non-null  object
 10  capital-gain    48842 non-null  int64
 11  capital-loss    48842 non-null  int64
 12  hours-per-week  48842 non-null  int64
 13  native-country  48568 non-null  object
 14  income          48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

- workclass: A categorical feature representing the type of income, such as private, self-employment, and government employment. Some missing values present.
- fnlwgt: An integer feature with no description provided. No missing values.
- education: A categorical feature representing the level of education 
- education-num: An integer feature representing the numerical encoding of **education** level.
- occupation: A categorical feature representing the type of occupation, such as managerial, technical, and service-related occupations. Some missing values present.
- native-country: A categorical feature representing the country of origin, including various countries such as the United States, Canada, and India. Some missing values present.
- income: The target variable, a binary feature representing income level, with categories >50K and <=50K. No missing values.

####  Cleaning the target variable and making it binary.

In [109]:
#Target value has values with dots, therefore 4 catagories
df['income'] = df['income'].str.replace('.', '')

# Replace the values in the target column with string '0' and '1'.
df['income'] = df['income'].str.replace('<=50K', '0')  
df['income'] = df['income'].str.replace('>50K', '1')   

# Convert to integer
df['income'] = df['income'].astype(int)

In [110]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   workclass       47879 non-null  object
 2   fnlwgt          48842 non-null  int64
 3   education       48842 non-null  object
 4   education-num   48842 non-null  int64
 5   marital-status  48842 non-null  object
 6   occupation      47876 non-null  object
 7   relationship    48842 non-null  object
 8   race            48842 non-null  object
 9   sex             48842 non-null  object
 10  capital-gain    48842 non-null  int64
 11  capital-loss    48842 non-null  int64
 12  hours-per-week  48842 non-null  int64
 13  native-country  48568 non-null  object
 14  income          48842 non-null  int32
dtypes: int32(1), int64(6), object(8)
memory usage: 5.4+ MB

Print count and percentage of classes variable

In [111]:
# Calculate the counts of unique values in the 'class' column 
class_counts = df['income'].value_counts()

# Calculate the percentage of each unique value in the 'class' column by dividing 'class_counts' by its sum and then multiplying by 100.
class_percentages = class_counts / class_counts.sum() * 100

print('Class counts:\n' ,class_counts, '\n')
print('Percentage of each class: \n' ,class_percentages)
print('\nTotal number of rows: ', df.shape[0])

# Saving this for future use
a = df.shape[0]

Class counts:
 0    37155
1    11687
Name: income, dtype: int64

Percentage of each class:
 0    76.071823
1    23.928177
Name: income, dtype: float64

Total number of rows:  48842

#### Droping nan values

In [112]:
#Some values are like '?'. Replacing them as NaN 
df[df == '?'] = np.nan
# Dropping the rows with NaN values in  'workclass', 'occupation', 'native-country' for the test dataset
df.dropna(subset=['workclass', 'occupation', 'native-country'], inplace=True)
df.dropna( inplace=True)

Checking wheter Education and Education-number are similar.

In [113]:
print(df['education'].value_counts().head())
print()
print(df['education-num'].value_counts().head())

HS-grad         14783
Some-college     9899
Bachelors        7570
Masters          2514
Assoc-voc        1959
Name: education, dtype: int64

9     14783
10     9899
13     7570
14     2514
11     1959
Name: education-num, dtype: int64

From X set, education column is dropped as it is same with Education-num, which is already in numerical form.

In [114]:
df = df.drop(['education'], axis=1)

In [115]:
df.head()

,age,workclass,fnlwgt,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,215646,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,234721,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,338409,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

#### Count and percentage of Target classes values after droping NaN values

In [116]:
# Calculate the counts of unique values in the 'class' column of 'df_class_feature' and store it in 'class_counts'.
class_counts = df['income'].value_counts()

# Calculate the percentage of each unique value in the 'class' column by dividing 'class_counts' by its sum and then multiplying by 100.
class_percentages = class_counts / class_counts.sum() * 100

print('Class counts:\n' ,class_counts, '\n')
print('Percentage of each class: \n' ,class_percentages)

b = df.shape[0]
print('\nNumber of rows after dropping NaN: ', b)
print('number of rows dropped: ', a-b)

Class counts:
 0    34014
1    11208
Name: income, dtype: int64

Percentage of each class:
 0    75.215603
1    24.784397
Name: income, dtype: float64

Number of rows after dropping NaN:  45222
number of rows dropped:  3620

# 2. Split data into separate fitting and test set

### Creating X and y sets

In [117]:
# Creating X and y sets.income is the target variable and native country dropped because it has 41 unique values and occupation is very similar too workclass.
X = df.drop(['income', 'native-country', 'occupation'], axis=1)
y = df['income']

Split the dataset into fitting data (60%) and test set (40%), the reason I chose 60 to 40 split is to have a bigger test set. I did some experiments with other ratios such as 70 to 30 and 80 to 20 and the model performance metrics were almost the same.

In [118]:
X_fit, X_test, y_fit, y_test = train_test_split(X, y, test_size=0.4, random_state=1)

In [119]:
X_fit.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27133 entries, 23913 to 35636
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             27133 non-null  int64
 1   workclass       27133 non-null  object
 2   fnlwgt          27133 non-null  int64
 3   education-num   27133 non-null  int64
 4   marital-status  27133 non-null  object
 5   relationship    27133 non-null  object
 6   race            27133 non-null  object
 7   sex             27133 non-null  object
 8   capital-gain    27133 non-null  int64
 9   capital-loss    27133 non-null  int64
 10  hours-per-week  27133 non-null  int64
dtypes: int64(6), object(5)
memory usage: 2.5+ MB

#### The percentage of each class in the target variable for each set

In [120]:
# Defined a function to calculate  and print the percentage of each class in the target variable
def calculate_class_percentage(y):
    class_percentage = {}
    total_samples = len(y)
    unique_classes = set(y)
    
    for cls in unique_classes:
        class_count = sum(y == cls)
        percentage = (class_count / total_samples) * 100
        class_percentage[cls] = percentage
    
    return class_percentage

In [121]:
# Calculate class percentages for each dataset
fit_class_percentage = calculate_class_percentage(y_fit)
test_class_percentage = calculate_class_percentage(y_test)

# Print class percentages for each dataset
print("Fit set class percentages:")
print(fit_class_percentage )
print("\nTest set class percentages:")
print(test_class_percentage)
print('\n Number of rows of X fit', X_fit.shape[0], '\n Number of rows of X test', X_test.shape[0],'\n Number of rows of Y fit', y_fit.shape[0],'\n Number of rows of y test', y_test.shape[0],)

Fit set class percentages:
{0: 75.25522426565438, 1: 24.74477573434563}

Test set class percentages:
{0: 75.15617225938416, 1: 24.843827740615843}

 Number of rows of X fit 27133
 Number of rows of X test 18089
 Number of rows of Y fit 27133
 Number of rows of y test 18089

In [122]:
X_fit.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27133 entries, 23913 to 35636
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             27133 non-null  int64
 1   workclass       27133 non-null  object
 2   fnlwgt          27133 non-null  int64
 3   education-num   27133 non-null  int64
 4   marital-status  27133 non-null  object
 5   relationship    27133 non-null  object
 6   race            27133 non-null  object
 7   sex             27133 non-null  object
 8   capital-gain    27133 non-null  int64
 9   capital-loss    27133 non-null  int64
 10  hours-per-week  27133 non-null  int64
dtypes: int64(6), object(5)
memory usage: 2.5+ MB

# 3. Random Forest and Logistig Regression

In [123]:
# Sklearn imports
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler


# DiCE imports
import dice_ml
from dice_ml.utils import helpers  # helper functions

import pickle
from sklearn.metrics import accuracy_score,  recall_score, precision_score, f1_score, roc_auc_score, roc_curve, auc

In [124]:
X_fit.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27133 entries, 23913 to 35636
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             27133 non-null  int64
 1   workclass       27133 non-null  object
 2   fnlwgt          27133 non-null  int64
 3   education-num   27133 non-null  int64
 4   marital-status  27133 non-null  object
 5   relationship    27133 non-null  object
 6   race            27133 non-null  object
 7   sex             27133 non-null  object
 8   capital-gain    27133 non-null  int64
 9   capital-loss    27133 non-null  int64
 10  hours-per-week  27133 non-null  int64
dtypes: int64(6), object(5)
memory usage: 2.5+ MB

### Defining Random Forest model

In [125]:
def run_RF (X_fit, y_fit, X_test, y_test, model_name):
    
    # Preprocessing for cataegorical data - OneHotEncoding
    categorical_transformer = Pipeline(steps=[
        ('onehot', OneHotEncoder(handle_unknown='ignore'))])

    # Bundle preprocessing for data
    transformations = ColumnTransformer(
        transformers=[
            ('cat', categorical_transformer, categorical)],
        remainder='passthrough')
    
    # Define the Random Forest model
    clf_RF = Pipeline(steps=[('preprocessor', transformations), ('classifier', RandomForestClassifier())])
    # Run the random forest model
    model_RF = clf_RF.fit(X_fit, y_fit)
    # Predict on the test dataset
    y_pred_rf = model_RF.predict(X_test)
    # Calculate the needed model performance metrics
    f1_rf = f1_score(y_test, y_pred_rf)
    roc_rf = roc_auc_score(y_test, y_pred_rf)
    a = len(X_fit)
    # Saving the model performance metrics
    models_rf = [('RF {}'.format(model_name), 0, 0, 0, a, f1_rf, roc_rf, 0, 0)]
    # Saving the model performance metrics in a dataframe
    model_perf_metrics_rf = pd.DataFrame(models_rf, columns = ['Model', 'Iteration', 'Sample Size', 'CF Num', 'X_fit Size',  'F1 (%)', 'AUC (%)', 'F1_std(%)', 'AUC_std(%)'])
        
    return model_RF, model_perf_metrics_rf

### Defining Logistic Regression model

In [126]:
def run_LR(X_fit, y_fit, X_test, y_test, model_name, i, j , k):
    # Preprocessing for categorical data - OneHotEncoding
    categorical_transformer = Pipeline(steps=[
        ('onehot', OneHotEncoder(handle_unknown='ignore'))])

    # Preprocessing for numerical data - StandardScaler
    #numerical_transformer = Pipeline(steps=[
        #('scaler', StandardScaler())])

    # Bundle preprocessing for numerical and categorical data
    transformations = ColumnTransformer(
        transformers=[
            #('num', numerical_transformer, numerical),  
            ('cat', categorical_transformer, categorical)], 
        remainder='passthrough')

    # Define the Logistic Regression model
    clf_LR = Pipeline(steps=[('preprocessor', transformations), ('classifier', LogisticRegression(max_iter=1000))])
    # Run the Logistic Regression model
    model_LR = clf_LR.fit(X_fit, y_fit)
    # Predict on the test dataset
    y_pred_lr = model_LR.predict(X_test)
    # Calculate the needed model performance metrics
    f1_lr = f1_score(y_test, y_pred_lr)
    roc_lr = roc_auc_score(y_test, y_pred_lr)
    a = len(X_fit)

    # Saving the model performance metrics
    models_lr = [('LR {}'.format(model_name), k, j, i, a, f1_lr, roc_lr, 0, 0)]
    # Saving the model performance metrics in a dataframe
    model_perf_metric_lr = pd.DataFrame(models_lr, columns = ['Model', 'Iteration', 'Sample Size', 'CF Num','X_fit Size', 'F1 (%)', 'AUC (%)', 'F1_std(%)', 'AUC_std(%)'])

    return  model_perf_metric_lr, roc_lr, f1_lr

# 4. Plots

In [127]:
def distrubution_plot(df, name, p):
    lr_line = df[df['Model'] == 'LR default'][name].iloc[0]
    rf_line = df[df['Model'] == 'RF default'][name].iloc[0]
    df = df[(df['Model'] != 'RF default') & (df['Model'] != 'LR default')]
        
    x = df['Sample Size'].unique()
    x_2 = df['CF Num'].unique()
    x_3 = df['Iteration'].unique()

    y = df[name]

    # combine x and x_2 for x-axis labels
    combined_x = [f"{i}-{j}-{k}" for i in x for j in x_2 for k in x_3]

    # plot lines
    plt.figure(figsize=(20,10))
    plt.plot(combined_x, y, label="{} Values".format(name))
    plt.axhline(y=lr_line, color='r', linestyle='--', label="default_lr_line")  # Plot lr_line as a horizontal line
    #plt.axhline(y=rf_line, color='green', linestyle='--', label="default_rf_line")  # Plot lr_line as a horizontal line
    if p is True:
        plt.title('Distribution of {} score, average of iterations'.format(name))
        plt.savefig(f"Distribution_of_{name}_score_avg.svg", format='svg')
    else:    
        plt.title('Distribution of {} score'.format(name))
        plt.savefig(f"Distribution_of_{name}_score.svg", format='svg')

    plt.xlabel('Sample Size- CF Num- Iteration')
    plt.legend(loc='upper right')
    plt.xticks(rotation=40)  # rotate x-axis labels for better visibility

    plt.show()

# 5. Counterfactuals

In [128]:
X_fit.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27133 entries, 23913 to 35636
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             27133 non-null  int64
 1   workclass       27133 non-null  object
 2   fnlwgt          27133 non-null  int64
 3   education-num   27133 non-null  int64
 4   marital-status  27133 non-null  object
 5   relationship    27133 non-null  object
 6   race            27133 non-null  object
 7   sex             27133 non-null  object
 8   capital-gain    27133 non-null  int64
 9   capital-loss    27133 non-null  int64
 10  hours-per-week  27133 non-null  int64
dtypes: int64(6), object(5)
memory usage: 2.5+ MB

### Defining the DICE model. Possible adjustments that can be made are, 
- which model to use for CF generation, 
- continuous features, 
- size of the sample that will be used to create the CFs, 
- how many CFs to generate per one sample,
- which features can vary in the CF generation process.

In [129]:
# Defining DICE model
def generate_counterfactuals(X_fit, y_fit, model, continuous_features, sample_size, total_CFs, fea_to_vary, outcome_name):
    
    # Creating a Data object
    d = dice_ml.Data(dataframe=X_fit.assign(income=y_fit), continuous_features=continuous_features, outcome_name=outcome_name)
    # Creating a Model object
    m = dice_ml.Model(model=model, backend="sklearn")
    # Creating the DICE model with data and model object 
    exp = dice_ml.Dice(d, m, method="random")

    # Execution of the DICE model to generate counterfactuals
    e1 = exp.generate_counterfactuals(X_fit[0:sample_size], total_CFs=total_CFs, desired_class="opposite", features_to_vary= fea_to_vary)
    
    # Comment out the below line as CFs needed to be visualized in the notebook
    #e1.visualize_as_dataframe(show_only_changes=True)

    # Creating a new empty dataframe to store the generated CFs
    cf_df = pd.DataFrame()
    # For loop to append the counterfactuals of each sample, to a dataframe
    for i in range(0, sample_size):
        # Saving CFs
        xd = e1.cf_examples_list[i].final_cfs_df
        # Adding the generated CFs to the empty dataframe
        cf_df = pd.concat([cf_df, xd])
# If the sample size is reached and the CFs are generated for all the samples, followiing code resets the index of the dataframe and saves the generated CFs as a csv file.
    else:
        # Resetting the index of the dataframe to not have duplicate index number
        cf_df.reset_index(drop=True, inplace=True)
        new_start_index = len(X_fit) + i + len(cf_df)
        cf_df.index += new_start_index 
        # Saving the generated CFs as a csv file
        cf_df.to_csv('cf_df_{}_{}.csv'.format(sample_size, total_CFs))
        
        # Following code creates X and y fit sets for the generated CFs and returns them for further use.
        X_fit_cf = cf_df.drop([outcome_name], axis=1)
        y_fit_cf = cf_df[outcome_name]

    return X_fit_cf, y_fit_cf, cf_df

### Defining a fuction that runs the RF and LR plus DICE model that generates counterfactuals. 
#### Then the function saves these CF explanations into a dataframe and trains the LR again with the generated CFs. At the same time, model appends the original fit-set to CF dataset and trains the LR again with the combined version of the datasets. For each model training, LR model function appends the new model performance metrics into a dataframe. Possible adjustments that can be made are, 
- continuous features, 
- size of the sample that will be used to create the CFs, 
- how many CFs to generate per one sample,
- how many iterations will be made for each sample_size and CF_number pair,
- which features can vary in the CF generation process.

In [130]:
# Experiment running function
def running_exp(X_fit, y_fit, continuous_features, sample_size_list, total_CFs_list, iteration_num, fea_to_vary, num, list_of_models):
    #Running default Random Forest
    model_RF, model_perf_metric_rf = run_RF(X_fit, y_fit, X_test, y_test, 'default')
    #Running default Logistic Regression
    model_perf_metric_lr, auc, f1 = run_LR(X_fit, y_fit, X_test, y_test, 'default', 1 , 0 , 0)

    # Merging the default model performance metrics in a dataframe to accommodate new models, and doing it twice to use the second one on only CFs dataset.
    model_perf_metrics_merged = model_perf_metric_rf.merge(model_perf_metric_lr, how='outer')
    model_perf_metrics_merged_only_for_cfs = model_perf_metric_rf.merge(model_perf_metric_lr, how='outer')
    model_perf_metrics_average_of_iterations  = model_perf_metric_rf.merge(model_perf_metric_lr, how='outer')
    
    # Loop through different sample sizes
    for j in sample_size_list:
        # Loop through different total CF numbers
        for i in total_CFs_list:
            # Initializing empty lists for saving auc and f1 scores for each iteration
            total_auc = []
            total_f1 = []
            total_auc_cf = []
            total_f1_cf = []
            # Loop through iteration numbers, doing a new experiment for each sample_size and CF_number combination
            for k in range(1,iteration_num+1):    
                # Generating counterfactuals using the 'generate_counterfactuals' function
                X_fit_cf, y_fit_cf, cf_df = generate_counterfactuals(X_fit, y_fit, model_RF, continuous_features, j, i, fea_to_vary, 'income')
                # Concatenating the original dataset with the generated CFs dataset
                new_cf_df = pd.DataFrame()
                new_cf_df = new_cf_df.append(cf_df)
                new_X_fit = pd.concat([X_fit, X_fit_cf])
                new_y_fit = pd.concat([y_fit, y_fit_cf])

                # Running the Logistic Regression model on the CFs dataset and the dataset with original X_fit plus CFs.
                model_perf_metric_lr_only_cf, auc_only_cf, f1_only_cf = run_LR(X_fit_cf, y_fit_cf, X_test, y_test, '_{}_iterations_sample:{}_cf:{}'.format(k, j, i), i , j , k)
                model_perf_metric_lr_cf, auc_lr_cf, f1_lr_cf = run_LR(new_X_fit, new_y_fit, X_test, y_test, '_{}_iterations_sample:{}_cf:{}'.format(k, j, i), i , j , k)
                
                # Appending the auc and f1 scores of each iteration to the lists, doing the same for only CFs set.
                total_auc_cf.append(auc_only_cf)
                total_auc.append(auc_lr_cf) 
                total_f1_cf.append(f1_only_cf)
                total_f1.append(f1_lr_cf)

                # Saving the model performance metrics of each iteration
                model_perf_metrics_merged_only_for_cfs = model_perf_metrics_merged_only_for_cfs.append(model_perf_metric_lr_only_cf, ignore_index=True)
                model_perf_metrics_merged = model_perf_metrics_merged.append(model_perf_metric_lr_cf, ignore_index=True)
                
            else:
            # Calculate means and standard deviations of auc and f1 scores of all the iterations for each sample size and CF number combination
                total_auc_only_cf_mean = np.mean(total_auc_cf)
                total_f1_only_cf_mean = np.mean(total_f1_cf)
                total_auc_mean = np.mean(total_auc)
                total_f1_mean = np.mean(total_f1)

                total_auc_only_cf_std = round(np.std(total_auc_cf),8)
                total_f1_only_cf_std = round(np.std(total_f1_cf),8)
                total_auc_std = round(np.std(total_auc),8)
                total_f1_std = round(np.std(total_f1),8)
                a = len(new_X_fit)
                b = len(X_fit_cf)
                # Creating new rows to save the model performance metrics of each sample size and CF number combination's all iterations
                new_row_cf= {'Model': 'LR_avg_of_{}_iterations_sample:{}_cf:{}_only_cf'.format(k, j, i) , 'Iteration': k, 'Sample Size': j, 'CF Num': i, 'X_fit Size':b , 'F1 (%)': total_f1_only_cf_mean, 'F1_std(%)': total_f1_only_cf_std, 'AUC (%)' :total_auc_only_cf_mean, 'AUC_std(%)': total_auc_only_cf_std}
                new_row = {'Model': 'LR_avg_of_{}_iterations_sample:{}_cf:{}'.format(k, j, i), 'Iteration': k, 'Sample Size': j, 'CF Num': i, 'X_fit Size':a ,'F1 (%)': total_f1_mean, 'F1_std(%)':total_f1_std, 'AUC (%)' :total_auc_mean, 'AUC_std(%)': total_auc_std}
                
                # Saving these new rows to the model performance metrics dataframes    
                model_perf_metrics_average_of_iterations = model_perf_metrics_average_of_iterations.append(new_row, ignore_index=True)
                
    # Saving the model performance metrics dataframes as excel files after all the experiments are done.
    model_perf_metrics_merged_only_for_cfs.to_excel('model_perf_metrics_merged_only_with_cfs_{}.xlsx'.format(num))
    model_perf_metrics_merged.to_excel('model_perf_metrics_merged_{}.xlsx'.format(num))
    model_perf_metrics_average_of_iterations.to_excel('model_perf_metrics_average_of_iterations_{}.xlsx'.format(num))
    
    for q in list_of_models:
        distrubution_plot(model_perf_metrics_average_of_iterations, q, True )
        distrubution_plot(model_perf_metrics_merged, q, False )
        
    return  model_perf_metrics_merged_only_for_cfs, model_perf_metrics_merged, new_cf_df

In [131]:
# Defining the columns' categories
numerical = ['age' ,'fnlwgt','education-num','capital-gain','capital-loss','hours-per-week']
categorical = ['workclass','marital-status',  'relationship', 'race', 'sex']
continuous_features = ['capital-gain', 'capital-loss']

In [ ]:
# Defining the experiment's features to vary, sample size, total CF number for sample and iteration number
fea_to_vary = ['age', 'workclass', 'education-num', 'marital-status', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week']
sample_size_list = [50, 100]
total_CFs_list = [2, 5]
iteration_num = 5
list_azxkdkd = ['F1 (%)', 'AUC (%)']

# Running the experiment
model_perf_metrics_merged_only_for_cfs, model_perf_metrics_merged, neww = running_exp(X_fit, y_fit, continuous_features, sample_size_list, total_CFs_list, iteration_num, fea_to_vary, 'ammm', list_azxkdkd)